{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <!-- Left sidebar-->
   {% comment %} # Here we fetch the sidebar {% endcomment %}
   {% include 'dashboard/sidebar.html' %}

    <!-- Right Side content-->
    <div class="col-md-9">
        <h2>Add new Categories</h2>
        
        <form action={% url 'add_category' %} method="POST" style="width:500px;">
            {% csrf_token %}
            {{ form| crispy }} 
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <br>
    </div>    
</div>

{% endblock  %}